<div class="container org-details-container">
  <!-- Top row -->
  <div class="row" *ngIf="orgInfo.currentOrg">
    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 img-custom-container">
        <img class="img-responsive img-custom" src="{{orgInfo.currentOrg.mainPhoto}}">      
    </div>
    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 card-custom-container">
      <div class="card card-custom">
        <div class="card-header bg-success">
          <span class="text-white"><b>Organization Info</b></span>
        </div>
        <div class="card-body">
          <p class="card-text"><b>Name: </b><a href="">{{orgInfo.currentOrg.name}}</a></p>
          <hr>
          <p class="card-text"><b>Address: </b>{{orgInfo.currentOrg.address}}</p>
          <hr>
          <p class="card-text"><b>Phone Number: </b>{{orgInfo.currentOrg.phoneNumber}}</p>
          <hr>
          <p class="card-text"><b>Email: </b>{{orgInfo.currentOrg.email}}</p>
          <hr>
          <p class="card-text"><b>Description: </b>{{orgInfo.currentOrg.description}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Top row -->
  <div class="row" *ngIf="orgInfo.currentOrg">
    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 img-custom-container">
      <img class="img-responsive img-custom" src="{{orgInfo.currentOrg.mainPhoto}}">      
    </div>
    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 card-custom-container">
      <div class="card card-custom">
        <div class="card-header bg-success">
          <span class="text-white"><b>Organization Info</b></span>
        </div>
        <div class="card-body">
          <p class="card-text"><b>Name: </b><a href="">{{orgInfo.currentOrg.name}}</a></p>
          <hr>
          <p class="card-text"><b>Address: </b>{{orgInfo.currentOrg.address}}</p>
          <hr>
          <p class="card-text"><b>Phone Number: </b>{{orgInfo.currentOrg.phoneNumber}}</p>
          <hr>
          <p class="card-text"><b>Email: </b>{{orgInfo.currentOrg.email}}</p>
          <hr>
          <p class="card-text"><b>Description: </b>{{orgInfo.currentOrg.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

