.img-custom {
  max-height: 400px;
  max-width: 400px;
}

.img-custom-container {
  min-height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  padding: 5px 0 10px;
}

.info-card-container {
  min-height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-card-container,
.review-card-container {
  margin: 15px 0;
}

.card-custom {
  min-width: 100%;
}

.event-img-container {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-img-container img {
  max-width: 280px;
  max-height: 180px;
  padding: 5px;
}

.border-box {
  border: 1px solid green;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.border-box h2 {
  margin: 0;
  padding: 0;
}

.float-right {
  float: right;
}

.mb {
  margin-bottom: 10px;
  margin-left: 10px;
}

.top-right-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: rgba(220, 53, 69, 0.8);
}

.form-control {
  text-align: right;
}

.card-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-image-modal, 
.add-event-modal {
  position: fixed;
  z-index: 1;
  margin-top: 55px;
  height: 100vh;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

.add-image-modal-content,
.add-event-modal-content {
  border-radius: 15px;
  background-color: white;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.centered {
  text-align: center;
}

.hidden {
  display: none;
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}