<!-- <div class="container-fluid"> -->

  <!-- <div class="row"> -->

      <!-- <div class="mx-auto"> -->

        <!-- <div class="card"> -->

            <!-- <div mat-dialog-title class="bg-success">

              Add a Review

            </div> -->

            <div class="card-body">

              <mat-dialog-content>
              
                <form>

                  <h5 class="card-title">Share your thoughts about [NAME OF ORG OR EVENT]</h5>
                  &nbsp;
                  &nbsp;

                  <div class="form-group">
                  
                    <textarea class="form-control"></textarea>

                  </div>

                  <a class="btn btn-success float-right ml-3">Submit Review</a>
                  
                  <a href="#" class="btn btn-warning float-right">Cancel</a>
                  

                </form>

              </mat-dialog-content>

            </div>

          <!-- </div> -->

      <!-- </div> -->

    <!-- </div> -->

<!-- </div> -->

<!-- <button mat-button (click)="openDialog()">Open dialog</button> -->