<div class="container user-info-page">
  <div class="row">

    <!-- LEFT HALF CONTAINING USER DETAILS -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xs-offset-0 col-sm-offset-0 toppad mx-auto mt-5">

      <!-- USER DETAILS PANEL ON LEFT OF SCREEN -->

    
      <div class="card card-success" *ngIf="!editingProfile">

          <span class="card-header bg-success text-white">{{userDetails.firstName}}&nbsp;&nbsp;{{userDetails.lastName}}</span>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="{{userDetails.profilePicture}}" class="rounded-circle img-responsive user-pic"> </div>
            <div class=" col-md-9 col-lg-9 "> 
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>City:</td>
                    <td>{{googleCity}}</td>
                  </tr>
                  <tr>
                    <td>Joined:</td>
                    <td>{{userDetails.createdAt | date }}</td>
                  </tr>
                  <tr>
                    <td>Email:</td>
                    <td><a href="mailto:{{userDetails.email}}">{{userDetails.email}}</a></td>
                  </tr>
               
                  <tr>
                    <tr>
                      <td>Phone Number:</td>
                      <td>{{userDetails.phoneNumber}}</td>

                    </tr>
                </tbody>
              </table>
              <div class="bottom-buttons">
                  <button (click)="editProfile()" class="float-left btn btn-warning btn-sm mr-1">Edit Profile</button>
                  <button class="float-right btn btn-danger btn-sm">Delete Account</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ------------------------------------------------------------------------------------------------- -->

      <!-- THIS SECTION ONLY SHOWS UP IF EDITINGPROFILE BOOLEAN IS TRUE -->

      <div class="card card-success" *ngIf="editingProfile">
          
          <span class="card-header bg-success text-white">{{userDetails.firstName}}&nbsp;&nbsp;{{userDetails.lastName}}</span>
          <div class="card-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="{{userDetails.profilePicture}}" class="rounded-circle img-responsive user-pic"> </div>
            <div class=" col-md-9 col-lg-9 "> 
              <table class="table table-user-information">
                <tbody>
                  <form #editedUserInfo="ngForm" (ngSubmit)="saveEditedProfile(editedUserInfo)">
                  <tr>
                    <td>ZIP Code:</td>
                    <td><input class="rounded" type="text" [(ngModel)]="zipCode" name="zipCode" value="{{userDetails.zipCode}}"></td>
                  </tr>
                  <tr>
                    <td>Joined:</td>
                    <td>{{userDetails.createdAt | date }}</td>
                  </tr>
                  <tr>
                    <td>Email:</td>
                    <td><input class="rounded" type="text" [(ngModel)]="email" name="email" value="{{userDetails.email}}"></td>
                  </tr>
               
                  <tr>
                    <tr>
                      <td>Phone Number:</td>
                      <td><input class="rounded" type="text" [(ngModel)]="phoneNumber" name="phoneNumber" value="{{userDetails.phoneNumber}}"></td>
                  </tr>
                </form>
                </tbody>
              </table>
              <div class="bottom-buttons">
                <button (click)="editProfile()" class="float-left btn btn-warning btn-sm mr-1">Cancel</button>
                <button (ngSubmit)="saveEditedProfile(editedUserInfo)" class="float-left btn btn-success btn-sm mr-1">Save Changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- RIGHT HALF CONTAINING EVENT, ORG, AND REVIEW INFO -->

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xs-offset-0 col-sm-offset-0 toppad mx-auto mt-5">

          <!-- ----------------------------------------------------------------------- -->
          <!-- THE USER'S EVENTS -->
        
        <div class="card mb-3 user-events-card">

          <div class="card-header bg-success">
            <span class="text-white">Events</span>
          </div>

          <div class="card-body" *ngFor="let eachEvent of userDetails.events">

            <div class="row">  

                <div class="events-left col-6">
                
                  <p class="card-text"><b>Name: </b><a href="event/{{eachEvent._id}}">{{eachEvent.name}}</a></p>
                  <p class="card-text"><b>Status: </b>{{eachEvent.status}}</p>
                  <p class="card-text"><b>Date and Time: </b>
                    <br>{{eachEvent.startTime | date : 'medium' }}</p>
                  <p class="card-text"><b>Location: </b>{{eachEvent.location}}</p>

                </div>

                <div class="events-right col-6 mx-auto my-auto">

                  <img class="float-right img-responsive user-page-image" src="{{eachEvent.mainPhoto}}">

                </div>

              </div>

          </div>

        </div>

        <!-- ----------------------------------------------------------------------- -->
        <!-- THE USER'S ORGANIZATIONS -->

        <div class="card mb-3 user-orgs-card">

            <div class="card-header bg-success">
              <span class="text-white">Organizations</span>
            </div>
  
            <div class="card-body" *ngFor="let eachOrg of userDetails.organizations">
  
              <div class="row">  
  
                  <div class="events-left col-6">
                  
                    <p class="card-text"><b>Name: </b><a href="organization/{{eachOrg._id}}">{{eachOrg.name}}</a></p>
                    <p class="card-text"><b>Address: </b>{{eachOrg.address}}</p>
                    <p class="card-text"><b>Number of Members: </b>{{eachOrg.staff.length}}</p>
                    <p class="card-text"><b>Number of Events: </b>{{eachOrg.events.length}}</p>
  
                  </div>
  
                  <div class="pull-right events-right col-6 mx-auto my-auto">
  
                    <img class="float-right img-responsive user-page-image" src="{{eachOrg.mainPhoto}}">
  
                  </div>
  
                </div>
  
            </div>

  
          </div>

          <!-- ----------------------------------------------------------------------- -->
          <!-- THE USER'S REVIEWS -->

          <div class="card mb-3 user-reviews-card">

              <div class="card-header bg-success">
                <span class="text-white">Reviews</span>
              </div>
    
              <div class="card-body" *ngFor="let eachReview of userDetails.reviews">
    
                <div class="row">  
    
                    <div class="events-right col-6">
                    
                      <p class="card-text">{{eachReview.content}}</p>
                      <p class="card-text"><a href="/review/{{eachReview}}">Review Details</a></p>
    
                    </div>
    
                    <div class="events-left col-6 mx-auto my-auto">
    
                      <img class="float-right img-responsive user-page-image" src="{{eachReview.reviewPhoto}}">
    
                    </div>
    
                  </div>
    
              </div>
    
            </div>

            <!-- ----------------------------------------------------------------------- -->

      </div>

  </div>
</div>


<!-- <div class="map-container"><h1>Google Maps:</h1>

  <iframe
  class="e2e-iframe-trusted-src"
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBQmB4EGSCfePPlGmYGD-MUaLBsP49sP-Y&q={{userDetails.zipCode}}" allowfullscreen>
  </iframe>
  
  AIzaSyBQmB4EGSCfePPlGmYGD-MUaLBsP49sP-Y

</div> -->