<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Website CSS style -->
	<!-- <link href="../../assets/stylesheets/bootstrap.min.css" rel="stylesheet"> -->
	<!-- Website Font style -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"> -->
	<!-- <link rel="stylesheet" href="./signup.component.css"> -->
	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
	<title>Admin</title>
</head>

<body>
	<div class="container mt-5">
		<div class="row main">
			<div class="main-login main-center mx-auto">
				<h5>Sign up to join the Here2Help community.</h5>

				<form #signupForm="ngForm" (ngSubmit)="signup(signupForm)">

					<!-- ------------------------------------------------------------------------------ -->
					<div class="form-group">
						<label for="firstName" class="cols-sm-2 control-label">Your First Name</label>
						<div class="cols-sm-10">
							<div class="input-group align-middle">
								<span class="input-group-addon align-middle">
									<i class="fa fa-user fa" aria-hidden="true"></i>
								</span>
								<input [(ngModel)]="firstName" type="text" class="form-control" name="firstName" autocomplete="first-name" required placeholder="Enter Your First Name"
								/>
							</div>
						</div>
					</div>

					<!-- ------------------------------------------------------------------------------ -->

					<div class="form-group">
						<label for="lastName" class="cols-sm-2 control-label">Your Last Name</label>
						<div class="cols-sm-10">
							<div class="input-group align-middle">
								<span class="input-group-addon align-middle">
									<i class="fa fa-user fa" aria-hidden="true"></i>
								</span>
								<input [(ngModel)]="lastName" type="text" class="form-control" name="lastName" id="lastName" autocomplete="last-name" required
								 placeholder="Enter Your Last Name" />
							</div>
						</div>
					</div>

					<!-- ------------------------------------------------------------------------------ -->

					<div class="form-group">
						<label for="zip" class="cols-sm-2 control-label">Your ZIP Code</label>
						<div class="cols-sm-10">
							<div class="input-group align-middle">
								<span class="input-group-addon align-middle">
									<i class="fa fa-user fa" aria-hidden="true"></i>
								</span>
								<input [(ngModel)]="zipCode" type="number" class="form-control" name="zipCode" id="zip" autocomplete="zip" required placeholder="Enter Your ZIP Code"
								/>
							</div>
						</div>
					</div>

					<!-- ------------------------------------------------------------------------------ -->

					<div class="form-group">
						<label for="phoneNumber" class="cols-sm-2 control-label">Your Phone Number</label>
						<div class="cols-sm-10">
							<div class="input-group align-middle">
								<span class="input-group-addon align-middle">
									<i class="fa fa-user fa" aria-hidden="true"></i>
								</span>
								<input [(ngModel)]="phoneNumber" type="tel" class="form-control" name="phoneNumber" id="phoneNumber" autocomplete="phone"
								 required placeholder="Enter Your Phone Number" />
							</div>
						</div>
					</div>

					<!-- ------------------------------------------------------------------------------ -->

					<div class="form-group">
						<label for="email" class="cols-sm-2 control-label">Your Email</label>
						<div class="cols-sm-10">
							<div class="input-group align-middle">
								<span class="input-group-addon align-middle">
									<i class="fa fa-envelope fa" aria-hidden="true"></i>
								</span>
								<input [(ngModel)]="email" type="email" class="form-control" name="email" id="email" autocomplete="phone" required placeholder="Enter your Email"
								/>
							</div>
						</div>
					</div>

					<!-- ------------------------------------------------------------------------------ -->

					<div class="form-group">
						<label for="password" class="cols-sm-2 control-label">Password</label>
						<div class="cols-sm-10">
							<div class="input-group align-middle">
								<span class="input-group-addon align-middle">
									<i class="fa fa-lock fa-lg" aria-hidden="true"></i>
								</span>
								<input [(ngModel)]="password" type="password" class="form-control" name="password" id="password" autocomplete="password"
								 required placeholder="Enter your Password" />
							</div>
						</div>
					</div>

					<!-- ------------------------------------------------------------------------------ -->

					<div class="form-group">
						<label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
						<div class="cols-sm-10">
							<div class="input-group align-middle">
								<span class="input-group-addon align-middle">
									<i class="fa fa-lock fa-lg" aria-hidden="true"></i>
								</span>
								<input type="password" class="form-control" name="confirm" id="confirm" autocomplete="password" required placeholder="Confirm your Password"
								/>
							</div>
						</div>
					</div>

					<!-- ------------------------------------------------------------------------------ -->

					<div class="form-group">
						<button class="btn btn-success btn-lg btn-block login-button">Register</button>
					</div>

				</form>
			</div>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<!-- <script src="../../assets/scripts/bootstrap.bundle.min.js"></script> -->
</body>

</html>