
<div class="container">

  <div class="input-group mb-3">
    <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
    </div>
    <input class="form-control" type="text" id="search-bar" (keyup)="searchAll(searchInput)" #searchInput placeholder="Find a user, organization, or event">
    </div>
</div>

<div class="container" *ngIf="searchInput.value">

    <section class="card col-12 col-sm-12 col-md-12 my-5" *ngFor="let eachResult of resultsList">

      <!-- IF IT'S A USER -->

      <article *ngIf="eachResult.firstName" class="search-result row shadow">
        
          <!-- START PHOTO -->

          <div class="col-12 col-sm-6 col-md-3 col-lg-2">

            <a href="#" title="Lorem ipsum" class="thumbnail"><img class="img-fluid rounded" src="{{eachResult.profilePicture}}" alt="Lorem ipsum" /></a>

          </div>

          <!-- DETAILS / MIDDLE PANE -->

          <div class="col-12 col-sm-6 col-md-2 col-lg-2">
            <ul class="meta-search">
              <li><i class="fa fa-user"></i>          <span>{{eachResult.firstName}} {{eachResult.lastName}}</span></li>
              <li><i class="fa fa-calendar"></i>      <span>Joined: {{eachResult.createdAt | date }}</span></li>
              <li><i class="fa fa-tags"></i>          <span>People</span></li>
            </ul>
          </div>

          <!-- TEXT -->

          <div class="card-info col-12 col-sm-12 col-md-7 col-lg-8 excerpet">
            
            <h3><a href="#" title="">Voluptatem, exercitationem, suscipit, distinctio</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, exercitationem, suscipit, distinctio, qui sapiente aspernatur molestiae non corporis magni sit sequi iusto debitis delectus doloremque.</p>						
                    <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>

          </div>
          <span class="clearfix borda"></span>
      
      </article>

      <!-- IF IT'S AN ORG -->

      <article *ngIf="eachResult.address" class="search-result row mb-5">
        
          <!-- START PHOTO -->

          <div class="col-12 col-sm-12 col-md-3">

            <a href="#" title="Lorem ipsum" class="thumbnail"><img class="img-fluid rounded" src="{{eachResult.mainPhoto}}" alt="Lorem ipsum" /></a>

          </div>

          <!-- DETAILS / MIDDLE PANE -->

          <div class="col-12 col-sm-12 col-md-2">
            <ul class="meta-search">
              <li><i class="fa fa-user"></i>  <span>{{eachResult.address}}</span></li>
              <li><i class="fa fa-calendar"></i>      <span>Joined: {{eachResult.createdAt | date }}</span></li>
              <li><i class="fa fa-tags"></i>      <span>People</span></li>
            </ul>
          </div>

          <!-- TEXT -->

          <div class="col-12 col-sm-12 col-md-7 excerpet">
            <h3><a href="#" title="">Voluptatem, exercitationem, suscipit, distinctio</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, exercitationem, suscipit, distinctio, qui sapiente aspernatur molestiae non corporis magni sit sequi iusto debitis delectus doloremque.</p>						
                    <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>

          </div>
          <span class="clearfix borda"></span>
      
      </article>

      <!-- IF IT'S AN EVENT -->

      <article *ngIf="eachResult.startTime" class="search-result row mb-5">
        
          <!-- START PHOTO -->

          <div class="col-12 col-sm-12 col-md-3">

            <a href="#" title="Lorem ipsum" class="thumbnail"><img class="img-fluid rounded" src="{{eachResult.mainPhoto}}" alt="Lorem ipsum" /></a>

          </div>

          <!-- DETAILS / MIDDLE PANE -->

          <div class="col-12 col-sm-12 col-md-2">
            <ul class="meta-search">
              <li><i class="fa fa-user"></i>  <span>{{eachResult.name}}}</span></li>
              <li><i class="fa fa-calendar"></i>      <span>Joined: {{eachResult.createdAt | date }}</span></li>
              <li><i class="fa fa-tags"></i>      <span>People</span></li>
            </ul>
          </div>

          <!-- TEXT -->

          <div class="col-12 col-sm-12 col-md-7 excerpet">
            <h3><a href="#" title="">Voluptatem, exercitationem, suscipit, distinctio</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, exercitationem, suscipit, distinctio, qui sapiente aspernatur molestiae non corporis magni sit sequi iusto debitis delectus doloremque.</p>						
                    <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>

          </div>
          <span class="clearfix borda"></span>
      
      </article>

  </section>
  
</div>

<div class="container" *ngIf="!searchInput.value">

  <h1>Search for something.</h1>

</div>